
body {
  background-color: #111111;
  margin: 0;
  overflow-x: hidden;
  min-height: -webkit-fill-available !important;
}
src {
  height: 100vh;
  min-height: -webkit-fill-available !important;
}

body {
  overflow-x: hidden;
}
details span {
  font-weight: normal;
  color: white;
}
details summary {
  color: white;
  display: list-item;
}
details input {
  color: black;
  font-weight: normal;
}
progress[value]::-webkit-progress-bar {
  background-color: white;
}
html {
  overscroll-behavior: none;
}